.bg_grass{
    background-color: #9BCC50;
}

.bg_poison{
    background-color: #B980C9;
}

.bg_bug{
    background-color: #739F3F;
}

.bg_flying{
    background-color: #BDB9B9;
}

.bg_fire{
    background-color: #F07D25;
}

.bg_ice{
    background-color: #57C4E7;
}

.bg_ground{
    background-color: #AB9842;
}

.bg_water{
    background-color: #4593C4;
}

.bg_electric{
    background-color: #EED535;
}

.bg_steel{
    background-color: #9EB7B8;
}

.bg_dragon{
    background-color: #009EE3;
}

.bg_normal{
    background-color: #A4ACAF;
}

.bg_fairy{
    background-color: #F8B9E9;
}

.bg_fighting{
    background-color: #D56723;
}

.bg_rock{
    background-color: #A38C20;
}

.bg_ghost{
    background-color: #7B63A3;
}

.bg_psychic{
    background-color: #F166B9;
}

.bg_dark{
    background-color: #707070;
}


.bg_type_grass{
    background-color: #9cd380;
}

.bg_type_poison{
    background-color: #bf8fcd;
}

.bg_type_bug{
    background-color: #8db362;
}

.bg_type_flying{
    background-color: #BDB9B9;
}

.bg_type_fire{
    background-color: #ec914c;
}

.bg_type_ice{
    background-color: #87d0e9;
}

.bg_type_ground{
    background-color: #b1a25d;
}

.bg_type_water{
    background-color: #6ba4c8;
}

.bg_type_electric{
    background-color: #eadc7f;
}

.bg_type_steel{
    background-color: #adc7c7;
}

.bg_type_dragon{
    background-color: #1daae6;
}

.bg_type_normal{
    background-color: #c0cbcf;
}

.bg_type_fairy{
    background-color: #f0d2e9;
}

.bg_type_fighting{
    background-color: #d47a42;
}

.bg_type_rock{
    background-color: #af9b41;
}

.bg_type_ghost{
    background-color: #8a6fb6;
}

.bg_type_psychic{
    background-color: #ee84c4;
}

.bg_type_dark{
    background-color: #878686;
}