.info {
    width: 500px;
    height: 676px;
    border-radius: 20px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .info__box{
      padding: 10px 10px 0px 10px;
  }
  
  .info__close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3px;
  }
  
  .info__change {
    display: flex;
    justify-content: space-between;
   margin-bottom: 3px;
  
  }
  .info__nameAndId {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    align-items: center;
  }
  
  .info__types {
      display: flex;
  }
  
  .info__img {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 200px;
  }
  
  .info__image {
    height: 120%;
    z-index: 1;
  }
  
  .info__stats {
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 20px;
    flex: 1;
    color: black;
    padding-top: 20px;
    padding: 10px;
  }

  .info__stats__nav {
    display: flex;
    justify-content: space-between;
  }

  .btnNav {
    background-color: #F0FFFF;
    border: none;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;

  }

  .highlitedBtn {
    background-color: #eee;
    border-radius: 6px;
  }
  
  .btnNav:hover {
    background-color: #eee;
    border-radius: 6px;
    z-index: 2;
  }
  
  .info__statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
  }

  .info__statsTable {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
  }

  .info__statsTable__evolution{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .info__statsTable th {
    color: rgb(118, 116, 116);
  }
  
  .info__statsTable th,
  .info__statsTable td {
    padding: 8px 2px;
    text-align: left;
  }

  .evolution {
    display: flex;
    flex-direction: column;
  }
  .evolution__img{
    height: 80px;
  }
  .evolution__name{
    text-align: center;
  }

  .info__statsTable__moves {
    display: flex;
    flex-direction: column;
    max-height: 256px;
    overflow-y: auto;
  }

  .progress-bar {
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar__fill {
    height: 100%;
    background-color: #4caf50; /* Grüne Farbe für den Balken */
    border-radius: 5px 0 0 5px;
  }
  
  