* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
}

header {
  display: flex;
  align-items: center;
  height: 112px;
  min-height: 64px;
  width: 100%;
  background-color: #0a242e;
  justify-content: space-between;
  padding: 30px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo:hover {
  cursor: pointer;
}

.header__search {
  display: flex;
  gap: 4px;
}

.header__logo__img {
  height: 32px;
  margin-right: 10px;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.main--darkblue {
  background-color: #0d3b57;
}

footer {
  height: 144px;
  min-height: 84px;
  width: 100%;
  background-color: #0a242e;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2::first-letter {
  text-transform: capitalize;
}

p::first-letter {
  text-transform: capitalize;
}

th::first-letter {
  text-transform: capitalize;
}

td::first-letter {
  text-transform: capitalize;
}

.imagefield__box {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}

.button {
  background-color: #0d3b57;
  margin-left: 10px;
  margin-right: 10px;
}

.height-none {
  height: none;
}

.hide-Overflow {
  overflow: hidden;
}

.display-none {
  display: none;
}

@media (max-width: 4400px) {
  main {
    padding: 120px;
  }
  header {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (max-width: 2500px) {
  main {
    padding: 100px;
  }
  header {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 2000px) {
  main {
    padding: 50px;
  }
  header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 760px) {
  main {
    padding: 20px;
  }
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 700px) {
  main {
    padding: 0;
  }
}

@media (max-width: 490px) {
  h1 {
    display: none;
  }
}